[submodule "cti_sensors"]
	path = cti_sensors
	url = https://github.com/EltonCN/cti_sensors
[submodule "cti_android"]
	path = cti_android
	url = https://github.com/EltonCN/cti_android
[submodule "cti_image"]
	path = cti_image
	url = https://github.com/EltonCN/cti_image
